<!-- <h1>homepage</h1> -->
<div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base" style="background-image:url('/images/homepage_edited.jpg')">
        <div class="home">Love wine and looking to unwind?</div>

    </div>
  </div>


  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div ui-sref="vineyardsIndex" class="titleWithLink"><p>Find the perfect indulgement</p></div>
      <!-- <li><a ui-sref="vineyardsIndex">All vineyards</a></li> -->

    </div>
    <div class="parallax__layer parallax__layer--back" style="background-image:url('images/homepage3.jpg')">
      <div class="title"></div>
    </div>
  </div>

  <div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--base" style="background-image:url('images/homepage1.jpg')">

      <div class="title">Own a vineyard? <br>
        Let your vineyard be discovered.
      </div>
      <div ui-sref="vineyardsNew" ui-sref-active="active"><p class="subheading">List your vineyard now</p></div>

    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title"></div>
    </div>
  </div>

  <div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title" ui-sref="register">Join our community of wine lovers</div>
    </div>
    <div class="parallax__layer parallax__layer--back" style="background-image:url('images/homepage5.jpg')">
    </div>
  </div>

    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--base" style="background-image:url('images/homepage6.jpg')">
        <p class="group5">Share your experience</p>
      </div>
    </div>
