<!-- <header class="backPage">
  <a ui-sref="/vineyards">< home</a>
</header> -->

<div class="newVineyardsSection">
  <form ng-submit="vineyardsNew.createVineyard()">
    <div class="titleSection">
      <h2>My Vineyard</h2>
        <div>
          <label>Vineyard Name</label>
          <input type="text" name="name" placeholder="name" ng-model="vineyardsEdit.vineyard.vineyard_name">
        </div>
        <div>
          <label>Your website link</label>
          <input type="text" name="website_url" placeholder="website link" ng-model="vineyardsEdit.vineyard.website_url">
        </div>
    </div>

    <div class="contactSection">
      <h3>Contact Details</h3>
        <div class="row">
          <div class="two columns">
            <div>
              <label>Email</label>
              <input class="u-full-width" type="text" name="email" placeholder="email" ng-model="vineyardsEdit.vineyard.email">
            </div>
            <div>
              <label>Address</label>
              <input class="u-full-width" type="text" name="image" placeholder="image" ng-model="vineyardsEdit.vineyard.address">
            </div>
            <div>
              <label>Postcode</label>
              <input class="u-full-width" type="text" name="image" placeholder="image" ng-model="vineyardsEdit.vineyard.postcode">
            </div>
            <div>
              <label>Country</label>
              <input class="u-full-width" type="text" name="image" placeholder="image" ng-model="vineyardsEdit.vineyard.country">
            </div>
          </div>

          <div class="two columns">
            <div>
              <label>Telephone Number</label>
              <input class="u-full-width" type="text" name="email" placeholder="email" ng-model="vineyardsEdit.vineyard.phone">
            </div>
            <div>
              <label>City</label>
              <input class="u-full-width" type="text" name="image" placeholder="image" ng-model="vineyardsEdit.vineyard.city">
            </div>
            <div>
              <label>Region</label>
              <input class="u-full-width" type="text" name="image" placeholder="image" ng-model="vineyardsEdit.vineyard.region">
            </div>
          </div>
      </div>
    </div>
          <div class="informationSection">
            <h3>Information about your vineyard</h3>
                <div>
                  <label>Specialty</label>
                  <textarea class="u-full-width" type="text" name="image" placeholder="image" ng-model="vineyardsEdit.vineyard.specialty"></textarea>
                </div>
                <div>
                  <label>Description</label>
                  <textarea class="u-full-width" type="text" name="image" placeholder="image" ng-model="vineyardsEdit.vineyard.description"></textarea>
                </div>

                <div>
                  <h3>Features</h3>
                    <ul>
                      <li>
                        <input type="checkbox" name="family_friendly" value="family_friendly" ng-model="vineyardsEdit.vineyard.family_friendly">
                        Family friendly
                      </li>
                      <li>
                        <input type="checkbox" name="family_friendly" value="pet_friendly" ng-model="vineyardsEdit.vineyard.pet_friendly">
                        Pet Friendly
                      </li>
                      <li>
                        <input type="checkbox" name="family_friendly" value="pet_friendly" ng-model="vineyardsEdit.vineyard.events">
                        Can accommodate events
                      </li>
                      <li>
                        <input type="checkbox" name="family_friendly" value="pet_friendly" ng-model="vineyardsEdit.vineyard.holiday">
                        Vineyard getaway
                      </li>
                      <li>
                        <input type="checkbox" name="family_friendly" value="pet_friendly" ng-model="vineyardsEdit.vineyard.tours">
                        Wine experience and tours
                      </li>
                    </ul>
                  </div>
          </div>

          <div class="imageUploadSection">
            <h3>Image upload</h3>
                <div>
                  <label>Upload a cover image</label>
                  <input type="text" name="image" placeholder="hero image" ng-model="vineyardsEdit.vineyard.cover_image">
                </div>

                <h6>Please upload images of your vineyards.</h6>
                <div>
                  <label>Image 1</label>
                  <input type="text" name="image_one" placeholder="please upload an image" ng-model="vineyardsEdit.vineyard.image_one">
                </div>

                <div>
                  <label>Image 2</label>
                  <input type="text" name="image_two" placeholder="please upload an image" ng-model="vineyardsEdit.vineyard.image_two">
                </div>

                <div>
                  <label>Image 3</label>
                  <input type="text" name="image_three" placeholder="please upload an image" ng-model="vineyardsEdit.vineyard.image_three">
                </div>

                <div>
                  <label>Image 4</label>
                  <input type="text" name="image_four" placeholder="please upload an image" ng-model="vineyardsEdit.vineyard.image_four">
                </div>
            </div>
        <button>SAVE</button>
      </form>
  </div>
