<section class="vineyardsShowSection">
  <h1>Start exploring vineyards</h1>
  <input class="u-full-width searchBar" type="text" ng-model="vineyards.queryString" placeholder="Search by vineyard name or region" class="fa fa-search">


  <div class="center">
    <div class="row">
      <div class="vineyardsContainer four columns" ng-repeat="vineyard in vineyards.all | filter: vineyards.filter">
        <a ui-sref="vineyardsShow({ id: vineyard.id })">
          <div class="vineyard-single-image" style="background-image:url('{{vineyard.cover_image }}')">
            <div class="overlay">
              <div class="text">
                <h2>{{ vineyard.vineyard_name }}</h2>
                <h2>{{ vineyard.region }}, {{ vineyard.country }},</h2>
              </div>
            </div>
          </div>
        </a>
          <div class="stars">
            <img src="/images/star.png" ng-repeat="i in vineyards.getNumber(vineyard.average_rating) track by $index">
          </div>
      </div>
    </div>
  </div>
</section>
