
<img ng-src="{{ vineyardsShow.vineyard.cover_image }}" alt="{{ vineyardsShow.vineyard.cover_image }}">
<!-- <div style="background-image:url('{{ vineyardsShow.vineyard.cover_image }}')">
</div> -->
<h1>{{ vineyardsShow.vineyard.vineyard_name }}</h1>
<img ng-src="{{ vineyardsShow.vineyard.image_one }}" alt="{{ vineyardsShow.vineyard.image_one }}">


<a ng-if="vineyardsShow.isLoggedIn()" ui-sref="vineyardsEdit({ id: vineyardsShow.vineyard.id })" class="button">Edit</a>
<button ng-if="vineyardsShow.isLoggedIn()" ng-click="vineyardsShow.deleteVineyard()">Delete</button>
