<div class="form-popup">
  <div class="form-popup-inner">
  <form novalidate ng-submit="register.submit()">
    <h1><a ui-sref="home">unWINE'd</a></h1>

    <!-- <div class="error" ng-if="register.err">
      <p>Please check your details and try again.</p>
    </div> -->

          <div>
            <input class="email"type="text" placeholder="Username" ng-model="register.user.username">
          </div>

          <div>
            <input class="e" placeholder="Email" ng-model="register.user.email">
          </div>

          <div>
            <input class="password" type="password" placeholder="Password" ng-model="register.user.password">
          </div>

          <div>
            <input class="password" type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">
          </div>
    <button>Register</button>
  </form>

  <hr>
      <div>
        <h2>Already have an account?</h2>
        <button ui-sref="login">Sign In</button>
      </div>
    </div>
  </div>
</div>
