<section>
  <form ng-submit="usersEdit.update()">
    <div>
      <label>Username</label>
      <input type="text" placeholder="Username" ng-model="usersEdit.user.username">
    </div>
    <div>
      <label>Email</label>
      <input type="text" placeholder="email" ng-model="usersEdit.user.email">
    </div>
    <div class="dragdropContainer">
      <drag-drop></drag-drop>
    <div>
      <label>Profile image</label>
      <input type="text" placeholder="profile image" ng-model="usersEdit.user.profile_image">
    </div>
    <div>
      <label>Your Bio</label>
      <input type="text" placeholder="enter a brief bio" ng-model="usersEdit.user.bio">
    </div>
    <button>update</button>
  </form>
</section>
