<div class="profileshow">
  <h1 ng-if="usersShow.isLoggedIn() && usersShow.isCurrentUser()">My profile</h1>
    <img ng-src="{{ usersShow.user.profile_image }}" alt="{{ usersShow.user.profile_image }}">
    <h2>{{ usersShow.user.username }}</h2>
    <p><u class="underline">ABOUT ME</u> <br>{{ usersShow.user.bio }}</p>
    <h4 ng-if="!usersShow.isLoggedIn()"><a ui-sref="login">	&#x2709; Contact me</a></h4><p ng-if="usersShow.isLoggedIn()">{{ usersShow.user.email }}</p>


    <button class="u-full-width" ng-if="usersShow.isLoggedIn() && usersShow.isCurrentUser()" ui-sref="usersEdit({ id: usersShow.user.id })">Edit Profile</button>
    <button class="u-full-width" ng-if="usersShow.isLoggedIn()&& usersShow.isCurrentUser()" ng-click="usersShow.delete()">Deactivate</button>
</div>
