<section>

<h1>My profile</h1>
  <img ng-src="{{ usersShow.user.profile_image }}" alt="{{ usersShow.user.profile_image }}">

  <h2>{{ usersShow.user.username }}</h2>
  <h4>Contact: {{ usersShow.user.email }}</h4>
  <p> Profile summary {{ usersShow.user.bio }}</p>


  <a ng-if="usersShow.isLoggedIn() && usersShow.isCurrentUser()" ui-sref="usersEdit({ id: usersShow.user.id })" class="button">Edit</a>
  <button ng-if="usersShow.isLoggedIn()&& usersShow.isCurrentUser()" ng-click="usersShow.delete()">Delete</button>
</section>
