
<!-- <img ng-src="{{ vineyardsShow.vineyard.cover_image }}" alt="{{ vineyardsShow.vineyard.cover_image }}"> -->
<div class="heroImage" style="background-image:url('{{ vineyardsShow.vineyard.cover_image }}')">
</div>

<div class="row">
  <div class="eight columns">
    <h1>{{ vineyardsShow.vineyard.vineyard_name }}</h1>
  </div>
  <div class="four columns">
  <h4>Average Ratings: <img src="/images/star.png" style="width: 40px" ng-repeat="i in vineyardsShow.getNumber(vineyardsShow.vineyard.average_rating) track by $index"></h4>
  </div>
</div>




<section>
  <div class="vineyardDescription">
    <p>{{ vineyardsShow.vineyard.description }}</p>
  </div>

    <div class="contactSection">
      <h1>Vineyard Details</h1>
      <div class="row">
        <div class="seven columns">


          <p>Website: <a href="{{ vineyardsShow.vineyard.website_url }}">wwww.denbies.com</a></p>
          <p>Email us: <a href="mailto:{{ vineyardsShow.vineyard.email }}">{{ vineyardsShow.vineyard.email }}</a></p>
          <p>City: {{ vineyardsShow.vineyard.city }}</p>

          <p>Postcode: {{ vineyardsShow.vineyard.postcode }}</p>
          <p>Country: {{ vineyardsShow.vineyard.country }}</p>
        </div>

        <div class="five columns">
          <p>Call us: {{ vineyardsShow.vineyard.phone }}</p>
          <p>Address: {{ vineyardsShow.vineyard.address }},</p>
          <p>Region: {{ vineyardsShow.vineyard.region }}</p>
        </div>
      </div>
    </div>

    <div class="vineyardFeatures">
      <h1>Features</h1>
      <ul>
        <li ng-show="vineyardsShow.vineyard.pet_friendly">Pet Friendly</li>
        <!-- <li ng-class="{true: vineyardsShow.vineyard.pet_friendly}">Pet Friendly</li> -->
        <li ng-show="vineyardsShow.vineyard.family_friendly">Family Friendly</li>
        <!-- <li ng-class="{true: vineyardsShow.vineyard.family_friendly}">Family Friendly</li> -->
        <li ng-show="vineyardsShow.vineyard.holiday">Vineyard getaway experience</li>
        <!-- <li ng-class="{true: vineyardsShow.vineyard.holiday}">Vineyard getaway experience</li> -->
        <li ng-show="vineyardsShow.vineyard.events">Accommodate events</li>
        <!-- <li ng-class="{true: vineyardsShow.vineyard.events}">Accommodate events</li> -->
        <li ng-show="vineyardsShow.vineyard.tours">Wine experience and tours</li>
        <!-- <li ng-class="{true: vineyardsShow.vineyard.tours}">Wine experience and tours</li> -->
      <ul>
    </div>

    <div class="vineyardImagesContainer">
      <h1>Where the magic happens </h1>
      <div class="row">
        <div class="six columns">
          <img ng-src="{{ vineyardsShow.vineyard.image_one }}" alt="{{ vineyardsShow.vineyard.image_one}}">
          <img ng-src="{{ vineyardsShow.vineyard.image_two }}" alt="{{ vineyardsShow.vineyard.image_two}}">
        </div>
        <div class="six columns">
          <img ng-src="{{ vineyardsShow.vineyard.image_three }}" alt="{{ vineyardsShow.vineyard.image_three}}">
          <img ng-src="{{ vineyardsShow.vineyard.image_four }}" alt="{{ vineyardsShow.vineyard.image_four}}">
      </div>
    </div>
  </div>
</section>

<!-- ng-if="vineyardShow.isLoggedIn() && usersShow.isCurrentUser()" -->
  <button ng-if="vineyardsShow.vineyard.$resolved && vineyardsShow.isCurrentUser()" ui-sref="vineyardsEdit({ id: vineyardsShow.vineyard.id })" class="button">Edit</button>
  <button ng-if="vineyardsShow.vineyard.$resolved && vineyardsShow.isCurrentUser()" ng-click="vineyardsShow.deleteVineyard()">Delete</button>

<!-- map -->
<div class="map">
<h1>We are here</h1>
<google-map vineyard="vineyardsShow.vineyard" ng-if="vineyardsShow.vineyard.$resolved"></google-map>
</div>
<!-- <google-map center= "vineyardsShow.center"></google-map> -->

<!-- <section ng-if="vineyardsShow.center">
  <h2 style="text-align: center;">Map</h2>
  <google-map center="vineyardsShow.center"></google-map>
</section> -->

<div class="viewCommentsSection">

  <div class="reviews">
    <h1>Reviews</h1>
    <hr>
      <div ng-if="main.isLoggedIn()"><a ui-sref="commentsNew">Post a review</a></div>

      <div>
         <div ng-repeat="comment in vineyardsShow.vineyard.comments">
<!--
          comment id:  {{ comment.id }} END
          profile img {{ comment.user.profile_image }} -->

           <p><strong>Added on: </strong>{{comment.created_at }}</p>

<!-- Works {{ vineyardsShow.vineyard.comments }} -->
           <!-- <p>Added on: {{comment.user.created_at | 'MMMM Do YYYY' }}</p> -->

           <img ng-src="{{ comment.user.profile_image }}" alt="{{ comment.user.username }}">
           <p><strong>Added by: </strong>{{ comment.user.username }}</p>
           <p><strong>Comment: </strong>{{ comment.body }}</p>
           <p><strong>Rating:</strong> {{ comment.rating }}</p>
           <hr>
         </div>
      </div>
  </div>
</div>

  <div class="commentSection">
    <form ng-submit="vineyardsShow.addComment()">
      <h5>Share your experience to our community of wine lovers</h5>
      <textarea type="text" name="body" placeholder="add your review" ng-model="vineyardsShow.comment.body" class="u-full-width"></textarea>

      <h5>Give your ratings (1/5)</h5>
      <div class="ratings" ng-class="'rating'+vineyardsShow.comment.rating">
        <div>
          <input type="radio" ng-model="vineyardsShow.comment.rating" value="1" id="rating1">
          <label for="rating1">&#x2605</label>
        </div>
        <div>
          <input type="radio" ng-model="vineyardsShow.comment.rating" ng-value="2" id="rating2">
          <label for="rating2">&#x2605</label>
        </div>
        <div>
          <input type="radio" ng-model="vineyardsShow.comment.rating" value="3" id="rating3">
          <label for="rating3">&#x2605</label>
        </div>
        <div>
          <input type="radio" ng-model="vineyardsShow.comment.rating" value="4" id="rating4">
          <label for="rating4">&#x2605</label>
        </div>
        <div>
          <input type="radio" ng-model="vineyardsShow.comment.rating" value="5" id="rating5">
          <label for="rating5">&#x2605</label>
        </div>
      </div>


      <button class="u-full-width">Post comment</button>
    </form>
  </div>
</div>
