<section class="vineyardsShowSection">
  <h1>Start exploring vineyards</h1>
  <input class="u-full-width searchBar" type="text" ng-model="vineyards.queryString" placeholder="Search by vineyard name or region" class="fa fa-search">


  <div class="center">
    <div class="row">
      <div class="vineyardsContainer three columns" ng-repeat="vineyard in vineyards.all | filter: vineyards.filter">
        <a ui-sref="vineyardsShow({ id: vineyard.id })">
          <img ng-src="{{vineyard.cover_image }}" alt="{{vineyard.cover_image }}"></a>
          <h2>Community rating: <img src="http://www.vectordiary.com/isd_tutorials/002_honeystar/honey_star.gif" style="width: 10px; height:10px" ng-repeat="i in vineyards.getNumber(vineyards.vineyard.average_rating) track by $index"></h2>

        <div class="overlay">
          <h2>{{ vineyard.vineyard_name }}</h2>
          <h2>{{ vineyard.region }}, {{ vineyard.country }},</h2>
        </div>

      </div>
    </div>
  </div>
</section>
