<!DOCTYPE html>
<html ng-app="finalProject">
  <head>
    <meta charset="utf-8">
    <title>unWINE'd</title>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Fontdiner+Swanky|Paytone+One|Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Fontdiner+Swanky|Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Andika" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfjjZtXN6tL40LePCdpZ0c2a_YrrIgD0U" charset="utf-8"></script>
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
    <body ng-controller="MainController as main">

      <header>
        <nav>
          <ul>
            <div class="left">
              <li><a id="appname" ui-sref="home" ui-sref-active="active">unWINE'd</a></li>
            </div>
            <div class="right">
            <li ng-if="main.isLoggedIn()"><a ui-sref="usersShow({ id: main.userId })" ui-sref-active="active"><img ng-src="{{ main.user.profile_image }}" alt="my profile"></a></li>
            <li ng-click="main.menuVisible = main.menuVisible ? false : true" class="hamburger">&#9776;</li>

              <div class="dropdown" ng-class="{'open': main.menuVisible}">

                <li><a ui-sref="vineyardsIndex">Explore Vineyards</a></li>
                <li><a ui-sref="vineyardsNew">List Vineyards</a></li>
                <li><a ui-sref="usersIndex">Wine Lovers</a></li>
                <li ng-if="!main.isLoggedIn()"><a ui-sref="login" ui-sref-active="active">Sign In</a></li>
                <li ng-if="main.isLoggedIn()"><a ng-click="main.logout()">Logout</a></li>
                <!-- <li ng-if="main.isLoggedIn()"><a ui-sref="usersShow({ id: main.userId })" ui-sref-active="active"><img ng-src="{{ main.user.profile_image }}" alt="my profile"></a></li> -->
              </div>
            </div>
          </ul>
        </nav>
      </header>

    <main class="container" ui-view></main>

  </body>

</html>
